# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Data (Large Satellite Files)
data/
*.tif
*.tiff
results/
weights/

#PyTorch model weights
*.pth

# GEE Credentials
.credentials/
.env
